/* Modal position */
#login-modal .modal-content {
    top: 320px;
}

#register-modal .modal-content {
    top: 440px;
}

#edit-modal .modal-content {
    top: 795px;
}

.edit-user-modal .modal-content {
    top: 540px;
}

/* Navbar */
.navbar {
    border-radius: 0px 0px 12px 12px;
    width: 100%;
    background-color: darkred;
    position: fixed;
    top: 0;
    z-index: 99;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    height: 62px;
}

.navbar a {
    padding: 12px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border-radius: 12px;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    transition-property: color, background-color, border-radius, margin-top, margin-bottom, box-shadow, width;
    background-color: transparent;
}

.navbar a:hover {
    background-color: #000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.active {
    background-color: red;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

li:not(:last-child) {
    border-right: 1px solid #bbb;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    background-color: #222222;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 44px;
    width: 160px; /* Fixed width of the dropdown menu */
    left: 50%; /* Align the dropdown menu with the button */
    transform: translateX(-50%);
    text-align: center; /* Center align the dropdown menu */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Updated transition property */
    }

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-content a {
    text-align: center; /* Center align the dropdown buttons */
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-sizing: border-box; /* Include padding and border in the width calculation */
    width: calc(100% - 10px); /* Adjust the width of the dropdown buttons */
    margin: 5px 5px; /* Add some margin to separate the dropdown buttons */
}

.dropdown-content div:not(:last-child) {
    margin-bottom: 5px; /* Add a small gap between the dropdown buttons */
}

.dropdown-content div:not(:last-child)::after {
    content: "";
    display: block;
    border-bottom: 1px solid #bbb;
    width: 90%;
    margin-left: auto; /* Add this line to center the line */
    margin-right: auto; /* Add this line to center the line */
}

.dropdown-content div:not(:last-child)::before {
    content: "";
    display: block;
}

.dropdown-content a:hover {
    background-color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Navbar resize */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .navbar li:not(:last-child) {
        border-right: none;
        margin-bottom: 10px;
    }

    .navbar li {
        position: relative;
    }

    .navbar li:first-child a {
        margin-top: -10px; /* Adjust the spacing between the top of the navbar and the top button */
    }

    .navbar li:last-child a {
        margin-bottom: -10px; /* Adjust the spacing between the bottom of the navbar and the bottom button */
    }

    .navbar li:not(:last-child)::after {
        content: "";
        position: absolute;
        left: calc(50%); /* Adjust the value to center the <hr> */
        transform: translateX(-50%);
        bottom: -5px; /*Adjust <hr> */
        border-bottom: 1px solid #bbb;
        width: calc(100vw - 35px); /* Adjust the value to span the width of the buttons */
    }

    .navbar a {
        line-height: 20px;
        width: calc(100vw - 35px);
        display: block;
        position: relative;
        transition-property: color, background-color, border-radius, margin-top, margin-bottom, box-shadow;
    }

    .dropdown-content {
        top: 50px;
    }

    .dropdown-content a {
        width: calc(100% - 10px);
    }

    /* Home dropdown */
    .dropdown-content[data-dropdown="home"] {
        top: 40px;
    }

    .dropdown-content[data-dropdown="home"] a {
        margin-bottom: 5px;
    }
    
    .dropdown-content[data-dropdown="home"] a:first-child {
        margin-top: 5px;
    }

    /*No user dropdown */
    .dropdown-content[data-dropdown="nouser"] {
        top: 50px;
    }

    .dropdown-content[data-dropdown="nouser"] a {
        margin-bottom: 20px;
        top: -15px;
    }
    
    .dropdown-content[data-dropdown="nouser"] a:first-child {
        margin-top: 20px;
    }

    /* Modal position */
    #login-modal .modal-content {
        top: calc(320px + 110px);
    }
    
    #register-modal .modal-content {
        top: calc(440px + 110px);
    }
    
    #edit-modal .modal-content {
        top: calc(795px + 170px);
    }
    
    .edit-user-modal .modal-content {
        top: calc(540px + 170px);
    }
}

/* Misc */
.content {
    padding-top: 50px;
    transition: padding-top 0.4s;
    padding-bottom: 47px;
}

.container {
    display: flex;
    justify-content: center;
}

.centercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  margin: 10px;
  padding-bottom: 62px;
}

.gap {
    padding-top: 20px;
}

.imgcontainer {
    display: flex;
    justify-content: center;
}

.indeximg {
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 33.33% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Greys */
body {
    background-color: #222222;
}

.darkgrey {
    background-color: #222222;
}

.box {
    border-radius: 12px;
    background-color: #333333;
    z-index: 5;
    
}

/* Reds */
.red {
    color: red; 
    -webkit-text-fill-color: red;
}

.backred {
    color: white;
    background-color: red;
}

.backdarkred {
    color: white;
    background-color: darkred;
}

/* Input */
.input:focus {
    outline: none !important;
    box-shadow: 0 0 10px red;
}

.inputtitle:focus {
    outline: none !important;
    box-shadow: 0 4px 2px -2px red;
}


/* Profile display */
.pfp {
    border-radius: 12px 12px 0px 0px;
}

.pfp2 {
    width: 100%;
    border-radius: 12px !important;
}

.pfpname {
    background-color: darkred;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.profilepfpname {
    background-color: #333333;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: -1px;
    padding-right: 10px;
    padding-left: 10px;
}

.usercontainer {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 12px 12px;
}

/* Section */
.section {
    border-bottom: 4px solid;
    border-color: darkred;
    transition: 0.3s;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sectiontitle {
    background-color: darkred;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: -1px; 
    padding-right: 10px;
    padding-left: 10px;
}

/* About us list */
.aboutuslist p {
    list-style: none;
    margin: 5px;
    transition: 0.3s;
}

.aboutuslist li:hover {
    font-size: medium;
}

.aboutuslist li {
    list-style-type: none;
    margin: 5px;
    position: relative;
    transition: 0.3s;
}

.aboutuslist li p::before {
    font-family: "Font Awesome 6 Free";
    content: "\f054";
    color: darkred;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

/* About us active */
.aboutuslist li:active::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: -3px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: darkred;
}

/* List title */
.listtitle {
    padding-left: 5px;
}

/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    width: 97.5%;
}

/* Hide images by default */
.slideimage {
    display: none;
}

/* Slideshow images */
.slideshowimg  {
    border-radius: 12px 12px 0px 0px;
}

/* Backward/Forward*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: darkred;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000;
}

/* Caption  */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    z-index: 5;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Dark red rectangle */
.rectangle {
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: darkred;
    height: 62px;
    width: 100%;
    top: calc(100%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Footer */
footer {
    border-radius: 12px 12px 0px 0px;
    position:relative;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 62px;
}

/* Profile save button */
.profilesave {
    top: -15px;
    font-family: FontAwesome;
    z-index:10;
    position: relative;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    color: darkred; 
    -webkit-text-fill-color: darkred;
    transition: top 0.3s;
}

.profilesave:hover {
    color: red; 
    -webkit-text-fill-color: red;
    top: -20px
}

.saveright {
    float: right;
}

.savemodal {
    margin-left: 100px;
}

/* Profile save button */
.edituser {
    top: 15px;
    z-index:10;
    position: relative;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    -webkit-text-fill-color: #fff;
    transition: 0.3s;
    margin-left: 38px;
    font-family: "Raleway", sans-serif;
    background-color: darkred;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    width: 40%;
    height: 30px;
}

.edituser:hover {
    -webkit-text-fill-color: #fff;
    background-color: red;
    top: 10px
}

/* Profiles edit button */
.profilesedit {
    top: 20px;
    font-family: FontAwesome;
    z-index:10;
    position: relative;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    color: darkred; 
    -webkit-text-fill-color: darkred;
    transition: 0.3s;
}

.profilesedit:hover {
    color: red; 
    -webkit-text-fill-color: red;
    top: 10px
}

/* User profile */
.userProfile {
    transition: transform 0.3s;
}

.userProfile:hover {
    transform: translateY(-5px);
}

/* Profile shadow */
.profile-container {
    transition: 0.3s;
    border-radius: 12px;
}

.profile-container:hover {
    box-shadow: 0 0 10px red;
}

/* Modal */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
  
.modal-content {
    border-radius: 12px;
    background-color: #222222;
    position: absolute;
    border-bottom: 4px solid;
    border-color: darkred;
    transition: 0.3s;
    margin-left: calc(50% - 200px);
    width: 400px;
    left: 200px;
    transform: translate(-50%, -50%);
}
  
.modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3;
    margin-right: 15px;
    margin-top: 60px;
}
  
.modal-close-button:hover {
    color: red;
}

/* Modal forms */
.inputdiv {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 20px;
}
  
/* Label & rectangle */
.inputdiv label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    margin-left: -170px;
    margin-bottom: -30px;
    color: #fff;
    background-color: darkred;
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
/* Input */
.inputdiv input {
    margin-bottom: 10px;
    outline: none !important;
    height: 30px;
    margin-left: 150px;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 0px 12px 12px 0px;
    text-align: center; 
}

.modal hr {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* Align placeholder */
.inputdiv input::placeholder
{   
    text-align: center;      /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder
{ 
    text-align: center;      /* for IE 10-11 */
}
::-webkit-input-placeholder
{ 
    text-align: center;      /* for IE Edge */
}

.inputdiv input:focus {
    box-shadow: 0 0 10px red;
}

#tag {
    text-align: center;
}

/* pfp upload */
.upload{
    width: 140px;
    position: relative;
    margin: auto;
    text-align: center;
}

.upload img{
    border-radius: 50%;
    border: 8px solid darkred;
    width: 125px;
    height: 125px;
}

.upload .rightRound{
    position: absolute;
    bottom: 0;
    right: 0;
    background: darkred;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .leftRound{
    position: absolute;
    bottom: 0;
    left: 0;
    background: darkred;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.upload .fa{
    margin-top: 8px;
    cursor: pointer;
    color: red;
}

.upload input{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

.upload input::-webkit-file-upload-button, .upload input[type=submit]{
    cursor: pointer;
}

/* Table */
.styled-table {
    overflow: hidden;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px 12px 0px 0px;
}

/* Table header */
.styled-table thead tr {
    background-color: darkred;
    color: #ffffff;
    text-align: left;
}

/* Table cells */
.styled-table th:first-child {
    border-radius: 12px 12px 0px 0px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/* Table rows */
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) td textarea {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: black;
    border-radius: 12px;
}

.styled-table tbody tr:nth-of-type(odd) td textarea {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: white;
    border-radius: 12px;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid red;
}

.form-title {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: black;
    border-radius: 12px;
}

/* Table rows displayed */
.styled-table tbody tr:nth-of-type(even) td p {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: black;
    border-radius: 12px;
}

.styled-table tbody tr:nth-of-type(odd) td p {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: white;
    border-radius: 12px;
}

/* Active row */
.styled-table tbody tr.active-row td input{
    font-weight: bold;
    color: red;
}

#redtitle {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    resize: none;
    background: transparent;
    color: red;
    border-radius: 12px;
}

/* Placeholder icon */
.input-icon::placeholder {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath d='M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

/* Routines Subscribe */
.subsdiv {
    flex-direction: column;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 250px;
    height: 95px;
    padding-top: 10px;
    background-color:rgb(122, 0, 0);
    border-color: darkred;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: -1px; 
    padding-right: 10px;
    padding-left: 80px;
    border-width: 4px 4px 0px 4px;
    border-style: solid;
}

/* Label & rectangle */
.subsdiv label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    margin-left: -170px;
    margin-bottom: -30px;
    color: #fff;
    background-color: darkred;
    border-radius: 12px 0px 0px 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/* Button */
.subsdiv button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    margin-left: -72px;
    margin-bottom: -30px;
    color: #fff;
    background-color: darkred;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 50px 0 rgba(0, 0, 0, 0.19);
    border: 0px;
    transition: 0.3s;
    transform: translateY(0); /* Initial position using transform */
}

.subsdiv button:hover {
    box-shadow: 0 0 10px red;
    background-color: red;
    transform: translateY(-5px); /* Move button upwards on hover */
}
  
/* Input */
.subsdiv input {
    margin-bottom: 10px;
    outline: none !important;
    height: 30px;
    margin-left: 150px;
    color: white;
    background-color: #333333;
    border: none;
    border-radius: 0px 12px 12px 0px;
    text-align: center; 
}

/* Profile user section*/
.profileuser {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 16px;
    padding-right: 16px;
    background-color:rgb(122, 0, 0);
    border-color: darkred;
    border-radius: 0px 0px 12px 12px;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
}

/* Index plans label */
.indexlb {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 10px;
    background-color:rgb(122, 0, 0);
    border-color: darkred;
    border-radius: 0px 0px 12px 12px;
    border-width: 0px 4px 4px 4px;
    border-style: solid;
    height: 100%;
}

.indexlb ul {
    margin-left: -10px;
}

.indexlb ul li {
    width: 110%;
    left: -30px;
}

.indexlb ul hr {
    margin-left: -30px;
}

/* Plans button */
.plans-button {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    margin-top: auto; /* Push the button to the bottom */
    color: #fff;
    background-color: darkred;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 -17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
    transition: 0.3s;
    transform: translateY(0);
}


.plans-button:hover {
    box-shadow: 0 0 10px red;
    background-color: red;
    transform: translateY(-5px); /* Move button upwards on hover */
}